.Container {
  text-align: center;
  background-color: #282c34;
  color: linen;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-style: italic; */

}


.App{
  background-color: #282c34;
}
h1 {
  /* margin-bottom: 0;
  margin-top: 0; */
  width: 100%;
}

h3 {
  /* margin-top: 2%;
  margin-bottom: 2%; */
  width: 100%;
  font-style: italic;
}

.buttonRow{
  width: 100%;
  flex-direction: column;
}

.button {
  width: 5%;
}
.App-header {
  background-color: #282c34;
  /* min-height:x  15vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(45px + 2vmin); */
  color: white;
}

html {
  background-color: #282c34;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.board-row {
  width: 100%;
}

.board{
  padding-top: 2%;
  width: 350px;
  margin: auto;
  background-color: #282c34;
}
.square {
  background: white;
  border: 1px solid #999;
  border-radius: 10%;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 49px;
  margin-right: 1px;
  margin-top: 1px;
  text-align: center;
  width: 49px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */

